.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

form {
  padding: 1rem;
  border: 1px solid rgb(168, 180, 228);
}

.button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #b6b6fd;
  color: black;
  border-radius: 0.7rem;
  text-align: center;
  cursor: pointer;
}

.form-contain {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
